<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litfestapp.litfest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.litfestapp.student.Student_RegisteredEvents" />
        <activity android:name="com.litfestapp.student.Student_ViewPastEvents" />
        <activity android:name="com.litfestapp.organiser.Organiser_ViewPastEvents" />
        <activity android:name=".Share" />
        <activity android:name="com.litfestapp.student.Student_Submit" />
        <activity android:name=".Event_Information" />
        <activity android:name="com.litfestapp.student.Student_RegisterToEvent" />
        <activity
            android:name="com.litfestapp.student.StudentHomeActivity"
            android:label="@string/title_activity_student_home" />
        <activity
            android:name="com.litfestapp.organiser.OrganiserHomeActivity"
            android:label="@string/title_activity_organiser_home" />
        <activity android:name="com.litfestapp.signup.SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>